.links{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}

.cart{
    margin-top: 5% !important;
}

a{
text-decoration: none;
font-weight: bold;
font-size: 20px;
}

ul li {
    
font-size: 20px;
}

.title_nav{
    margin-left: 4%;
    font-family: 'Blacksword';
    font-weight: lighter;
    letter-spacing: 0.25rem;
    font-size: 300%;
}